<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/about.css">
    <title>About Page</title>
</head>
<body>
    <header class="header">
        <figure class="logo-wrapper">
            <img class="logo" src="../images/website-logo.png" alt="logo">
        </figure>
        <nav class="navbar"> 
            <ul>
                <li> <a href="about.html">About Page</a></li>
                <li> <a href="addcar.html"> Cars List </a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1> Welcome to our website </h1>

        <article class="about-text">
            The purpose of the website - to allow people to upload their vehicles on the website for rental 
            and to help other drivers who are in need of a car for a couple of days to rent a car nearby easily and for a fair price.
            The vehicles are for any drivers in the israel who have a license.
            Our job is to make life easier for people who are interested in sharing their cars on the website for extra profit and for people who are in need of a cars 
        </article>

    </main> 

    <footer class="footer">
        <ul class="socials">
            <li> <a href="facebook.com" target="blank"> <i class="fa fa-facebook-square fa-3x"> </i></a></li>
            <li> <a href="github.com" target="blank"> <i class="fa fa-github fa-3x"></i></a></li>
        </ul>
  
        <h2> Sobhi & Omar </h2>
        <span> Copyright © 2022 ☁️ </span>
        <span> All trademarks and copyrights belong to their respective owners. </span>
    </footer>
</body>
</html>